body{

    background-image: url(/Css/Assets/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 65px;
}


#wrapper { 
    font-family: font-family: 'Outfit', sans-serif;
}


#wrapper img {
    width: 20%;
}