body{
    background-color: black;
}


#wrapper {
    display: flex;
    position: absolute;
    background-image: url("/Css/Assets/bg.jpg");

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 65%;
    height: 100%;


}

#wrapper img {
    margin-left: 100px;
    margin-top: 50px;
    width: 15%;

}