@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');


body{
    background-image: url(/Css/Assets/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 65px;
}

body img {
    width: 15%;
}


h1 {
    color: white;
    font-family: 'Outfit', sans-serif;
    font-size: 60px;
    font-weight: 700;
    margin-top: 100px;
    text-align: center;

}

h2 {
    color: white;
    font-family: 'Outfit', sans-serif;
    font-size: 30px;
    font-weight: 400;
    text-align: center;

}

#rateus { padding-left: 65px;
    padding-right: 65px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 41%;
    margin-top: 200px;
    background-color: transparent;
    border: 3px solid white;
    color: white;
    font-family: 'Outfit', sans-serif;
    font-size: 20px;
    font-weight: 700;


}